body{
    width: auto;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0,0,0,0.75)50%, rgba(0,0,0,0.75)50%), url(2.jpg);
    background-size: cover;
    background-position: center;
    
}

 h1{
    color: white;
    display: flex;
    font-family: century;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: underline overline;
    text-decoration-color: #ff7200;
    text-underline-offset: 6px;
    padding-top: 50px;
    padding-left: 200px;
    
}
.navbar ul{
    float: right;
    display: flex;
    margin: 10px 20px;

}
.navbar ul li{
    display:flex;
    list-style: none;
}
.navbar ul li a{
    font-family: Century;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px #ff7200;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    cursor: auto;
 
}

.box{
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 220px;
    color: white;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(to top,rgba( 255,255,255)50%, transparent 50%);
    background-size: 100% 200%;
    transition: all .8s;
    
}
 .box:hover{
    background-position:bottom;
    color: black;
    cursor: pointer;
    
 }