body{
    background-image: linear-gradient(to top, rgba(0,0,0,0.75)50%, rgba(0,0,0,0.75)50%), url(2.jpg) ;
    background-position: center;
    background-size: cover;
    cursor: auto;
    width: auto;
    height: 100vh;

}

.navbar ul{
    float: right;
    display: flex;
    margin: 10px 20px;

}
.navbar ul li{
    display: flex;
    list-style: none;
}
.navbar ul li a{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px #ff7200;
}

.form h1{
    color: #ff7200;
    font-size: 1.5rem;
    font-family: century;
    font-weight: bold;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    padding: 8px;
}
.form{
    width: 280px;
    height: 300px;
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    top: 150px;
    left: 500px;
    border-radius: 15px;
    padding: 25px;
}
td{
    color: white ;
    font-family: century;
}

table{
    background: transparent;
    align-items: center;
    height: 0;
    padding: 10px;
    margin-left: 0;
}
::placeholder{
    color: black;
    font-family: century;
}
.btn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    margin-left: 20px;

}
.btn a{
    text-align: center;
    font-family: century;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
}
.btn:hover{
    background: white;
}